@media screen and (max-width: 1400px)
    .header
        &_body
            padding-top: 19vh
            padding-left: 175px
            padding-right: 175px
            &_assets
                &_btn

@media screen and (max-width: 1200px)
    .header
        &_body
            padding-left: 105px
            padding-right: 105px
            &_title
                font-size: 90px
            &_assets
                &_text
                    font-size: 45px
                &_btn
                    width: 300px
                    height: 90px
                    font-size: 43px

@media screen and (max-width: 1024px)
    .header
        &_top
            font-size: 23px
        &_body
            padding-left: 105px
            padding-right: 105px
            padding-top: 24vh
            &_title
                font-size: 75px
            &_assets
                &_text
                    font-size: 35px
                &_btn
                    width: 223px
                    height: 69px
                    font-size: 28px

@media screen and (max-width: 768px)
    .header
        &_menu
            display: none
        &_body
            padding-left: 0
            padding-right: 0
            display: block
            text-align: center
            padding-top: 13vh
            &_title
                font-size: 95px
            &_assets
                &_text
                    font-size: 35px
                &_btn
                    display: block
                    margin: 0 auto
                    margin-top: 35px
                    width: 223px
                    height: 69px
                    font-size: 28px

@media screen and (max-width: 425px)
    .header
        &_menu
        &_body
            padding-top: 6vh
            &_title
                font-size: 78px
            &_assets
                &_text
                    font-size: 25px
                &_btn
                    width: 240px
                    height: 65px
                    font-size: 24px

@media screen and (max-width: 375px)
    .header
        &_menu
        &_body
            &_title
                font-size: 63px
            &_assets
                &_text
                    font-size: 35px
                &_btn
                    width: 215px
                    height: 55px
                    font-size: 19px

@media screen and (max-height: 600px)
    .header
        &_body
            padding-top: 4vh
        